header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    
}

h2 {
    text-align: center;
}

h1 {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
}

.nav {
    gap: 20px;
    text-align: center;
}

a {
    text-decoration: dotted;
    color: green;
}

a:hover {
    color: black;
    transition: 1.5s;
}

.row {
    position: sticky;
    top: 2;
}

h4 {
    text-align: center;
    margin-top: -10px;
}

img {
    margin-bottom: 30px; margin-top: 30px;
}

footer {
    margin-top: 20px;
}